<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schemas.shopware.com/schemas/v1/config.xsd">

    <card>
        <title>Queue Monitor Settings</title>

        <input-field type="checkbox">
            <name>enableSlack</name>
            <label>Enable Slack Notifications</label>
        </input-field>

        <input-field type="text">
            <name>slackWebhookUrl</name>
            <label>Slack Webhook URL</label>
        </input-field>

        <input-field type="checkbox">
            <name>enableEmail</name>
            <label>Enable Email Notifications</label>
        </input-field>

        <input-field type="text">
            <name>emailRecipient</name>
            <label>Email Recipient Address</label>
        </input-field>
    </card>
</config>
