<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Notification Settings</title>
        <input-field type="checkbox" name="notifiers.enableSlack" label="Enable Slack Notification" />
        <input-field type="checkbox" name="notifiers.enableEmail" label="Enable Email Notification" />
        <text-field name="notifiers.slackWebhookUrl" label="Slack Webhook URL" placeholder="https://hooks.slack.com/..." />
        <text-field name="notifiers.emailRecipient" label="Notification Email Address" placeholder="admin@example.com" />
    </card>

</config>
